table.scoreboard td, table.scoreboard th {
    text-align: center;
    padding-right: 5px;
}
table.scoreboard .playername {
    text-align: left;
}
table.bracket {
    text-align: center;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
table.bracket td.odd {
    vertical-align: middle;
}
table.bracket td.even {
    vertical-align: middle;
}
.series {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    margin-bottom: 20px;
}
.series .series-name {
    position: absolute;
    width: 400px;
    font-size: 22px;
    font-weight: bold;
    right: 0px;
}
.series .series-logo {
    position: absolute;
    width: 280px;
    height: 200px;
    left: 20px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px
}
.series .series-organizers {
    position: absolute;
    width: 400px;
    right: 0px;
    top: 50px;
}
.series .series-logo img {
    max-width: 280px;
    max-height: 200px;
}
.series-organizers ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.series-organizers ul li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 20px;
    margin-left: 0;
}
.series .series-info {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    text-align: center;
}
.series .series-info table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
.series .series-info table th {
    text-align: right;
    vertical-align: baseline;
    padding-right: 5px;
}
#gatherling_main .series .series-info table td {
    vertical-align: baseline;
}
a.create_deck_link {
    font-size: 11px;
}

/* autocard */
.cardHoverImageWrapper {
    position: relative;
    display: inline-block;
}
.linkCardHoverImage {
    position: absolute;
    left: 150px;
    top: -155px;
    z-index: 20;
}
.cardHoverImageWrapper .linkCardHoverImage {
    display: none;
}
.cardHoverImageWrapper a:hover .linkCardHoverImage {
    display: block;
}
.crop {
    float:left;
    overflow:hidden;
   /* this is important */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* input values to crop the image: top, right, bottom, left */
.crop img {
    margin:-2px -6px -6px -6px;
}
#birthday {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    opacity:0.75;
    filter:alpha(opacity=75);
   /* For IE8 and earlier */
}
.inputbox {
    padding: 3px;
    border-radius: 5px;
    /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
    /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.inputbox:disabled {
    padding: 3px;
    border-radius: 5px;
    /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
    /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.inputbutton {
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
    /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
#table-decksearch {
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
}
#table-decksearch th {
    font-weight: normal;
    padding: 7px 7px 8px;
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
}
#table-decksearch decksearch {
    font-size: 12px;
    padding: 4px 7px 2px;
    vertical-align: top;
}
.ds_inputbox {
    margin: auto;
    width: 750px;
    padding: 3px;
    border-radius: 5px;
    /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
    /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.ds_left {
    width: 605px;
    float: left;
    padding: 3px;
}
.ds_right {
    width: 125px;
    padding: 3px;
    float: left;
}
.ds_label {
    margin: 8px;
    display: block;
    font-size: 13px;
    padding: 5px;
}
.ds_select {
    margin-top: 15px;
    display: block;
    font-size: 13px;
}
.ds_input {
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    width: 450px;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    float:right;
}
.ds_input:disabled {
    padding: 3px;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.ds_submit {
    border-radius: 5px;
    margin: auto;
    margin-top: 13px;
    font-size: 13px;
    width: 110px;
    text-align: center;
    display: block;
    clear: both;
    padding: 6px 28px;
    border: 1px solid Black;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.ds_results {
    margin: auto;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    display: block;
    clear: both;
    border: none;
}
.ds_color {
    -webkit-appearence: none;
    -moz-appearannce: none;
    font-size: 15px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 5px;
    margin-left: 85px;
    margin-top: 5px;
}
.ds_checkbox {
    padding:10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.ds_mana_image {
    vertical-align: middle;
    padding-bottom: 4px;
    padding-left: 3px;
}
#ds_select {
    margin: 5px;
    margin-top: 0px;
    width: 140px;
    height: 27px;
    outline: solid transparent;
    padding: 3px;
    border-radius: 5px;
    /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
    /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.group:before, .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.group:after {
    clear:both;
}
.group {
    zoom: 1;
}
